.margin-negativo {
    margin-top: -55px;
}

.color-chat1 {
    background-color: #14206B;
}

.color-chat2 {
    background-color: #4B58A5;
}
.border-chat{
    border-radius: 20px 20px 20px 0
}

.medidas-seminario {
    height: calc(100vh - 148px)
}

.medidas-seminario2 {
    height: calc(100vh - 77px)
}

.scrollChat {
    overflow: auto !important;
}

.medida1 {
    height: 700px;
}

.medida2 {
    height: 599px;
}
.chatMedi{
    height: 650px;
    width: 100% !important;
    overflow-y: auto !important;
    overflow-x: hidden !important;
}

.chatMedi::-webkit-scrollbar{
    background-color: #000A48;
}
.chatMedi::-webkit-scrollbar-thumb{
    background: #192677;
    border-radius: 20px;
}


.medida1{
    height: calc(100vh - 77px);
}
.medida2{
    height: calc(100vh - 77px - 71px);
}

.chatMedi2{
    height: calc(100vh - 96px - 77px);
}
